.page-header-blank
.col-md-2
.jumbotron.col-md-8
	%h2 Add a new wildfire
	
	/ = Create New Wildfire Form = /
	%p.lead Create a new record for a reported forest fire.
	= bootstrap_form_for(@new_wildfire, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-5") do |w|
		= w.text_field :wildfire_name
		= w.date_field :wildfire_date
		= w.text_field :wildfire_cost
		= w.text_field :wildfire_cause
		= w.select :location_id, Location.all.collect {|d| [ d.location_name, d.id ] }, :include_blank => true
		%br
		
		/ = Submit Button = /
		= w.submit "Create Record", :class => "btn btn-success col-md-3"
		.col-md-1
		
		/ = Back Button = /
		%a.btn.btn-primary.col-md-3{href: wildfires_path, method: "get"} Return to List
	.col-md-1    