%p= "Name of Wildfire: #{@wildfire.wildfire_name}"
%p= "Date Wildfire Started: #{@wildfire.wildfire_date}"
%p= "Cost of Wildfire: #{@wildfire.wildfire_cost}"
%p= "Cause of Wildfire: #{@wildfire.wildfire_cause}"