/ = Form to Add and Update "Location" = /

= l.label "Location"
= l.text_field :location_name
%br
Fire Fighters Available?
= l.label "Yes"
= l.radio_button :available_forest_firefighters, true
%br
= l.label "No"
= l.radio_button :available_forest_firefighters, false
%br
= l.submit