.page-header-blank
.col-md-2
.jumbotron.col-md-8
	%h2 Location Record
	
	/ = Location Update Form = /
	%p.lead Submit the latest wildfire information updates.
	= bootstrap_form_for(@location, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-5") do |l|
		= l.text_field :location_name
		= l.form_group :available_forest_firefighters, label: { text: "Firefighters"} do
			= l.radio_button :available_forest_firefighters, true, label: "Yes", inline: true
			= l.radio_button :available_forest_firefighters, false, label: "No", inline: true
		%br
			/ = Submit Button = /
			= l.submit "Update Record", :class => "btn btn-success col-md-3"
			.col-md-1
		
	/ = Delete Button = /
	= button_to "Delete Record", "/locations/#{@location.id}", method: "delete", :class => "btn btn-danger col-md-3"
	.col-md-1
	
	/ = Back Button = /
	%a.btn.btn-primary.col-md-3{href: locations_path, method: "get"} Return to List
.col-md-1