= form_for @location, url: "/locations/#{@location.id}" do |l|
	= render"forms", l: l
= button_to "Delete", "/locations/#{@location.id}", {:action => "delete", :method => :delete}
= button_to "Back to List", locations_path, method: "get"