%h1 All Locations

- @locations.each do |l|
	Location:
	= l.location_name
	%br
	Fire Fighters Available?
	= l.available_forest_firefighters
	%br
	= button_to "Update Location", "/locations/#{l.id}/edit", method: "get"
	%br

%br
= button_to "Add Location", new_location_path, method: "get"

* Add search field